<%- include("../partials/header") %> 
<main class="main">
    <h1 class="main__title">Blog Posts</h1>
    <% articles.forEach(article => { %>
        <a href="/articles/new" class="new-article">New Article</a>
        <a href="/articles/post/edit/<%= article.id %>" class="new-article">Edit Article</a>
        <article class="article">
            <h2 class="article__title"><%= article.title %></h2>
            <h3 class="article__date"><%= article.createdDateFormatted %> </h3>
            <p class="article__description"><%= article.description %></p>
            <a href="articles/post/<%= article.slug %>" class="btn-link">Read More</a>
            <form method="POST" action="/articles/post/<%= article.id %>?_method=DELETE" class="form">
                <button class="form-submit" type="submit">Delete</button>
            </form>
        </article>
    <% }); %>
</main>
<%- include("../partials/footer") %> 