<%- include("../partials/header") %> 
<main class="main">
    <h1 class="main__title">Recent Posts</h1>
    <% if (user) { %>
        <h2 class="main__admin-greeting">Welcome back, <%= user.username %>!</h2>
        <a href="/articles/new" class="new-article">New Article</a>
    <% } %>
    <% articles.forEach(article => { %>
        <article class="article">
            <a href="articles/post/<%= article.slug %>">
                <h2 class="article__title"><%= article.title %></h2>
            </a>
            <p class="article__date"><%= article.createdDateFormatted %> </p>
            <p class="article__description"><%= article.description %></p>
            <% if (user) { %>
                <div class="article__controls">
                    <a href="/articles/post/edit/<%= article.id %>" class="article__edit">Edit</a>
                    <form method="POST" action="/articles/post/<%= article.id %>?_method=DELETE" class="form">
                        <%- include("../partials/input-csrf-token.ejs") %> 
                        <button class="form-submit" type="submit">Delete</button>
                    </form>
                </div>
            <% } %> 
        </article>
    <% }); %>
</main>
<%- include("../partials/footer") %> 