<%- include("../partials/header") %> 
<main class="post">
    <h1 class="post__title"><%= article.title %> </h1>
    <h3 class="post__date"><%= article.createdDateFormatted %></h3>
    <section class="md-content">
        <%- article.sanitizedHtml %> 
        <div class="post__controls">
            <a href="/" class="btn-link">Back to Articles</a>
            <% if (typeof user !== "undefined") { %>
                <a href="/articles/post/edit/<%= article.id %>" class="btn-link">Edit Post</a>
            <% } %> 
        </div>
    </section>
</main>
<%- include("../partials/footer") %> 